body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic1.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    font-family: "Segoe UI","Roboto",sans-serif;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 5vh;
    margin-top: 0;
}

.login-page{    
    width: 360px;
    padding: 5% 0 2%;
    margin: auto;
    
}

.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 0; 
    padding: 45px;
    text-align: center;
}

.form input{
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover{
    background-color: #3b873e;
}

.form .message{
    margin: 15px 0 0;
    font-size:14px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.register{
    display: none;
}